:host{
    flex: 0 0 30%;
    border: 0.0625rem solid lightgray;
    box-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 0);
    transition: all 0.2s;
    background-color: rgba(255, 255, 255, 0.3);
    height: 30rem;
    position: relative;
    opacity: 0.7;
    &:hover{
        box-shadow: 0.25rem 0.25rem rgba(0,0,0,0.1);
        background-color: rgba(255,255,255,0.5);
        transition: all 0.2s;
        opacity: 1;
    }
    a{
        padding: 2rem;
        height: 26rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        color: black;
        img{
            max-width: 22rem;
            max-height: 22rem;
            object-fit: contain;
        }
        h4{
            width: 100%;
            text-align: center;
        }
    }
    .info{
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
        .info-icon{
            transform: scale(1.5);
            padding: 0.5rem;
            cursor: help;
        }
        .tooltip {
            display: none;
        }
        &:hover{
            .tooltip {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 2.5rem;
                background-color: lightgray;
                border: 0.0625rem solid darkgray;
                border-radius: 1rem;
                min-width: 22rem;
                padding: 0.5rem 1rem;
                right: 0;
                p {
                    text-align: justify;
                    padding: 0.5rem 0;
                    margin: 0;
                }
            }
        } 
    }
}